table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 15px;
    table-layout: fixed;
    width: 150px;  }
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }
  .total{
    text-align: center;

  }